ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.color-one {
    background: rgb(241, 167, 118);
}

.color-two {
    background: rgb(241, 197, 139);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.parent__header {
    margin: 30px 0;

}

.header {
    display: flex;
    align-items: center;
}

.container-img {
    padding: 10px 0;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.header__text {
    margin: 5px 10px;
    font-family: 'Exo 2', sans-serif;
}

.skills {
    border: 1px solid rgb(53, 52, 52);
    height: 400px;
    background: rgb(241, 197, 139);
}

.skills__list {
    display: flex;
    flex-flow: column;
}

.skills__item {
    padding: 5px 10px;
    border-bottom: 1px solid black;
}

.modal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
}
.button{
    border:  0;
    cursor: pointer;
    float: right;
    background: rgb(255, 255, 255);
    font-weight: 500;
}
.button:hover{
    font-weight: 700;
    color: rgb(19, 18, 18);
}
